<% provide(:page_title, "Github Profile") %>

<div ng-controller="GitProfileController">

	<h2 class="page-title">Github Profile</h2>
	
	<div class="bbbb">
	    <div class="git-profile-avatar">
	    	<img ng-src="{{ user_avatar }}">
	    </div>
		<div class="git-profile-info">
			<form id='save_profile-form'>
			    <ul class="search-profile">
					<li class="search-profile-data-header" id="profile-username"> {{ username }} </li>
					<li class="search-profile-data"> Name: {{ name }} </li>
					<li class="search-profile-data"> Location: {{ location }} </li>
					<li class="search-profile-data"> Email: {{ email }} </li>
					<li class="search-profile-data"> Github page: <a href=<%= "http://www.github.com/#{current_user.username.downcase}" %>> <%= "http://www.github.com/#{current_user.username.downcase}" %> </a></li>
					<li class="search-profile-data"> Joined: {{ date | date:'d-MM-yyyy' }} </li>
					<li class="search-profile-data"> Following: {{ following }} </li>
					<li class="search-profile-data"> Followers: {{ followers }} </li>
					<li class="search-profile-data"> Public repos: {{ publicRepos }} </li>
				</ul>
			</form>
		</div>
	</div>

	<div class="cccc">
		<% client = Octokit::Client.new(access_token: Rails.application.secrets.github_api_token) %>
		<% @user = client.user current_user.username %>
		<% @public_repos = @user.rels[:repos].get.data %>
		<ul>
			<li class="search-profile-data-header" id="profile-username">Public Repos</li>
			<% if @public_repos != [] %>
				<% @public_repos.each do |repo| %>
					<li class="repo-profile-header"><a href=<%= "#{repo.html_url}" %>><%= repo.name %></a></li>
					<li class="repo-profile-data"><%= repo.description %></li>
					<li class="repo-profile-data">created: <%= repo.created_at.strftime("%d-%m-%Y") %> | updated: <%= repo.updated_at.strftime("%d-%m-%Y") %> | forks: <%= repo.forks || 0 %> | watchers: <%= repo.watchers || 0 %> | open issues: <%= repo.open_issues || 0 %></li>
				<% end %>
			<% else %>
				<li class="search-profile-data"><%= "No public repos available" %></li>
        	<% end %>
 		</ul>
	</div>
	
	<div class="dddd">
		<% @saved_links = current_user.gitlinks %>
			<ul>
				<li class="search-profile-data-header" id="profile-username">Saved Profiles</li>
				<% if @saved_links.any? %>
					<div class="saved-profile-container">
						<% @saved_links.each do |gitlink| %>
							<% saved_profile = client.user gitlink.link %>
							<div class="signle-saved-profile-container">
		    					<div class="saved_profile_avatar"><img ng-src=<%= saved_profile.avatar_url %>></a><br/></div>
								<div class="search-profile-data"><a href=<%= "http://www.github.com/#{gitlink.link}" %>><%= gitlink.link %></a></div>
							</div>
						<% end %>
					</div>
				<% else %>
						<li class="search-profile-data"><%= "No saved profiles yet" %></li>
        		<% end %>
 			</ul>
	</div>
	<%= render "devise/shared/links" %>
</div>


