<% provide(:page_title, "Edit Account") %>

<h2 class="page-title">Update Account Details</h2>

<div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <ul class="edit-accout-form">
            <li><%= f.label :name %></li>
            <li><%= f.text_field :name, autofocus: true %></li>

            <li><%= f.label :username %></li>
            <li><%= f.text_field :username %></li>

            <li><%= f.label :email %></li>
            <li><%= f.text_field :email %></li>

            <li><%= f.label :password %><br/>
                <i>(leave blank to keep unchanged)</i></li>
            <li><%= f.password_field :password, autocomplete: "off" %></li>

            <li><%= f.label :password_confirmation %></li>
            <li><%= f.password_field :password_confirmation, autocomplete: "off" %></li>

            <li><%= f.label :current_password %><br/>
                <i>(current password needed to confirm changes)</i></li>
            <li><%= f.password_field :current_password, required: "true", autocomplete: "off" %></li>
            <li><%= f.submit "Update" %></li><br/>
       </ul>
    <% end %>
</div>

<div>
    <ul class="edit-accout-form">
        <li><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></li>
    </ul>
</div>

<div>
    <ul class="edit-accout-form">
        <li><%= link_to "Back", :back %></li>
    </ul>
</div>

<%= devise_error_messages! %>

<%= render "devise/shared/links" %>
