<% provide(:page_title, "Sign Up") %>

<h2 class="page-title">Sign up</h2>

<div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <ul class="sign-up-form">

            <li id="form-header-label"><%= f.label :username, "Username*" %></li>
            <li id="form-text-field"><%= f.text_field :username, required: true, autofocus: true %></li>

            <li id="form-header-label"><%= f.label :name %></li>
            <li id="form-text-field"><%= f.text_field :name %></li>

            <li id="form-header-label"><%= f.label :location %></li>
            <li id="form-text-field"><%= f.text_field :location %></li>

            <li id="form-header-label"><%= f.label :email %></li>
            <li id="form-text-field"><%= f.text_field :email %></li>

            <li id="form-header-label"><%= f.label :url, "Github Page" %></li>
            <li id="form-text-field"><%= f.text_field :url %></li>

            <li id="form-header-label"><%= f.label :password, "Password*" %></li>
            <li id="form-text-field"><%= f.password_field :password, required: true, autocomplete: "off" %></li>

            <li id="form-header-label"><%= f.label :password_confirmation, "Password Confirmation*" %></li>
            <li id="form-text-field"><%= f.password_field :password_confirmation, required: true, autocomplete: "off" %></li>

            <li><%= f.submit "Sign up" %></li>
        </ul>
    <% end %>
</div>

<%= render "devise/shared/links" %>


