<% provide(:page_title, "Sign In") %>

<h2 class="page-title">Sign in</h2>

<div>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<ul class="sign-in-form">
	  		<li id="form-header-label"><%= f.label :username, "Username*" %></li>
	  		<li id="form-text-field"><%= f.text_field :username, autofocus: true %></li>

	  		<li id="form-header-label"><%= f.label :password, "Password*" %></li>
	    	<li id="form-text-field"><%= f.password_field :password, autocomplete: "off" %></li>

	  		<% if devise_mapping.rememberable? -%>
	    		<li id="form-header-remember_me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></li>
	  		<% end %>
	  		<li><%= f.submit "Sign in", class: 'button_hover' %></li>
	  	</ul>
  	<% end %>
</div>

<%= render "devise/shared/links" %>


