<div class="footer-container">
	<div id="powered-by" style="width: 100px">
    	<p>Powered by:</p>
    </div>
    <div>
   		<a href='http://en.wikipedia.org/wiki/Test-driven_development'> 
			<%= image_tag "footer/tdd_small.png", class: "footer-image-tdd" %>
    	</a>
    </div>
    <div>
    	<a href='http://rubyonrails.org'>                 
       		<%= image_tag "footer/rails_small.png", class: "footer-image-rails" %>
    	</a>
    </div>
    <div>
   		<a href='http://rspec.info'> 
			<%= image_tag "footer/rspec_small.png", class: "footer-image-rspec" %>
    	</a>
    </div>
    <div>
   		<a href='https://github.com/jnicklas/capybara'> 
			<%= image_tag "footer/capybara_small.png", class: "footer-image-capybara" %>
    	</a>
    </div>
		<div> 
    	<a href='http://www.postgresql.org'> 
			<%= image_tag "footer/postresql_small.png", class: "footer-image-postgresql" %>
    	</a>
	</div>
    <div>
   		<a href='http://jquery.com'> 
			<%= image_tag "footer/jquery_small.png", class: "footer-image-jquery" %>
    	</a>
    </div>
    <div>
   		<a href='http://en.wikipedia.org/wiki/Ajax_(programming)'> 
			<%= image_tag "footer/ajax_small.png", class: "footer-image-ajax" %>
    	</a>
    </div>
		<div> 
    	<a href='http://devise.plataformatec.com.br'> 
			<%= image_tag "footer/devise_small.png", class: "footer-image-devise" %>
    	</a>
	</div>
	<div> 
    	<a href='https://github.com/intridea/omniauth/wiki'> 
			<%= image_tag "footer/omniauth_small.png", class: "footer-image-omniauth" %>
    	</a>
	</div>
	<div>
    	<a href='http://octokit.github.io/'>
        	<%= image_tag "footer/octokit_small.png", class: "footer-image-octokit" %>
    	</a>
    </div>
    <div>
    	<a href='http://www.w3schools.com/html/html5_intro.asp'> 
			<%= image_tag "footer/html5_small.png", class: "footer-image-html5" %>
    	</a>
    </div>	
    <div>
    	<a href='http://www.w3.org/TR/2001/WD-css3-roadmap-20010523'>
        	<%= image_tag "footer/css3_small.png", class: "footer-image-css3" %>
    	</a>
    </div>
    <div>
    	<a href='http://getbootstrap.com'>
        	<%= image_tag "footer/bootstrap_small.png", class: "footer-image-bootstrap" %>
    	</a>
    </div>
    <div>
    	<a href='https://angularjs.org'>
        	<%= image_tag "footer/angular_small.png", class: "footer-image-angularjs" %>
    	</a>
    </div>
    <div>
   		<a href='https://www.heroku.com'> 
       		<%= image_tag "footer/heroku_small.png", class: "footer-image-heroku" %>
    	</a>
    </div>
    <div>
    	<a href='https://github.com/nadavmatalon/github-profiler'>
       		<%= image_tag "footer/github_small.png", class: "footer-image-github" %>
    	</a>
    </div>
    <div id="written-by" style="width: 180px">
    	<span>Created by:</span>
			<a href='https://github.com/nadavmatalon'> 
			<%= image_tag "footer/nmqr_small.png", class: "footer-image-nmqr" %>
		</a>		    	
    </div>
</div>

<% if false %>
<footer>
	<%= debug(params) if Rails.env.development? %>
</footer>
<% end %>

