<header class="header">
    <div class="navbar-inner">
        <div class="container">
            <nav>
                <ul class="nav navbar-nav pull-left">
                    <% if user_signed_in? %>
                        <li class="user-message"><%= "Welcome #{current_user.username}" %></li>
                    <% else %>
                        <li class="user-message"><%= "Welcome Guest" %></li>
                    <% end %>
                    <li id="save-profile-message"></li>
                </ul>

                <ul class="nav navbar-nav">
                    <% if alert %>
                        <li class="alert alert-message"><%= alert %></li>
                    <% elsif (notice  && notice != " ") %>
                        <li class="notice notice-message" ><%= notice %></li>
                    <% else %>
                        <li class="result-message"></li>
                        <li><%= render 'layouts/error_messages', object: resource %></li>
                    <% end %>

                </ul>
                <ul class="nav navbar-nav nav nav-pills pull-right">
                    <li class="home"><%= link_to "Home", home_path, id: "nav-button" %></li>
                    <li class="about"><%= link_to "About Us", about_path, id: "nav-button"%></li>
                    <li class="contact"><%= link_to "Contact Us", contact_path, id: "nav-button"%></li>
                    <li class="help"><%= link_to "Help", help_path, id: "nav-button"%></li>
                    <% if user_signed_in? %>
                        <li class="profile"><%= link_to "Profile", profile_path, id: "nav-button" %></li>
                        <li class="github-profile"><%= link_to "Github Profile", github_profile_path, id: "nav-button" %></li>
                        <!-- <li class="github-profile hidden"><%= link_to "Github Profile", github_profile_path, id: "nav-button" %></li> -->
                        <li class="account"><%= link_to "Account", edit_user_registration_path, id: "nav-button" %></li>
                        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, id: "sign-out-button" %></li>
                    <% else %>
                        <li class="sign-up"><%= link_to "Sign up", new_user_registration_path, id: "nav-button" %></li>
                        <li class="sign-in"><%= link_to "Sign in", new_user_session_path, id: "nav-button" %></li>
                        <li class="sign-in-github"><%= link_to "Github Sign in", user_omniauth_authorize_path(:github), id: "gh-sign-in-button" %></li>
                    <% end %>
                </ul>
            </nav>
        </div>
    </div>
</header>




