<!DOCTYPE html>
<html>
	<head>
  		<title><%= full_title(yield(:page_title)) %></title>
  		<%= stylesheet_link_tag 'application', media: 'all' %>
  		<%= javascript_include_tag 'application' %>
  		<%= csrf_meta_tags %>
  		<%= render 'layouts/shim' %>
	</head>
	<body>

 <!--      <div class="messages">
        <% if user_signed_in? %>
          <span class="user-message"><%= "Welcome, #{current_user.username}" %></span><br/><br/>
        <% else %>
            <span class="user-message"><%= "Welcome user, please sign up or sign in" %></span><br/><br/>    
        <% end %>       
      </div>
      <div class="feedback">  
        <span class="notice"><%= notice %></span>
        <span class="alert"><%= alert %></span>
      </div>
      <div class="user-session-control">
        <%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, required: "true" %>
            <%= f.label :password %>
            <%= f.password_field :password, required: "true", autocomplete: "off" %>
            <%= f.check_box :remember_me %> 
            <%= f.label :remember_me %>
            <span class="log-in-button">
            <%= f.submit "Log in", id: "log-in" %>
            </span>
            <span class="sign-up-button">
            <%= link_to "Sign up", new_user_registration_path, class: "sign-up" %>
            </span>
            <span class="log-out-button">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "log-out" %>
          </span>
        <% end %>
    </div> -->
        <header class="header">

        <div class="navbar-inner">
          <div class="container">
            <nav>

              <ul class="nav navbar-nav pull-left">
                <div>
                    <% if user_signed_in? %>
                        <li class="user-message"><%= "Welcome #{current_user.username}" %></li>
                    <% else %>
                        <li class="user-message"><%= "Welcome user" %></li>
                    <% end %>
                </div>
              </ul>
              <ul class="nav navbar-nav pull-right">
                <li><%= link_to "Home", home_path, id: "nav-button"%></li>
                <li><%= link_to "About Us", about_path, id: "nav-button"%></li>
                <li><%= link_to "Contact Us", contact_path, id: "nav-button"%></li>
                <li><%= link_to "Help", help_path, id: "nav-button"%></li>
                <% if user_signed_in? %>
                    <li><%= link_to "Account", edit_user_registration_path, id: "nav-button" %></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, id: "nav-button" %></li>
                <% else %>
                    <li><%= link_to "Sign in", new_user_session_path, id: "nav-button" %></li>
                    <li><%= link_to "Sign up", new_user_registration_path, id: "nav-button" %></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
	
        </header>

    	<br/><h1 class="app-title">WEB TEMPLATE</h1><br/>
 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
		<%= yield %>

        <!-- <%= debug(params) if Rails.env.development? %> -->

        <footer class="footer">
            <%= debug(params) if Rails.env.development? %>
        </footer>

	</body>
</html>
