<!DOCTYPE html>
<html ng-app="WebTemplate">
	<head>
  		<title><%= full_title(yield(:page_title)) %></title>
  		<%= stylesheet_link_tag 'application', media: 'all' %>
  		<%= javascript_include_tag 'application' %>
  		<%= csrf_meta_tags %>
  		<%= render 'layouts/shim' %>
	</head>
	<body>
        <%= render 'layouts/header' %>
    	<br/><h1 class="app-title">WEB TEMPLATE</h1><br/>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <script>              
            <% if current_user != nil %>
                var current_user = "<%= current_user.username %>"
                var app = angular.module('WebTemplate', []);
                app.controller('GitProfileController', ['$scope', '$http', function($scope, $http) {
                    $http.get('https://api.github.com/users/' + current_user).
                    success(function(profileData, status) {
                        $(".github-profile").removeClass('hidden')
                        $scope.user_avatar = profileData.avatar_url;
                        $scope.username = profileData.login;
                        $scope.email = profileData.email || "n/a";
                        $scope.html_url = profileData.html_url;
                        $scope.date = profileData.created_at;
                        $scope.publicRepos = profileData.public_repos || "0";
                        $scope.following = profileData.following || "0";
                        $scope.followers = profileData.followers || "0";
                    }).error(function(profileData, status) {
                        $scope.avatar = "github_avatar.png";
                        $scope.username = "n/a";
                        $scope.email = "n/a";
                        $scope.html_url = "n/a";
                        $scope.date = "n/a";
                        $scope.publicRepos = "n/a";
                        $scope.following = "n/a";
                        $scope.followers = "n/a";
                        $scope.message = status;
                    });
                }]);
            <% else %>
                var app = angular.module('WebTemplate', []);
            <% end %> 

            app.controller('GitSearchController', ['$scope', '$http', function($scope, $http) {
                $scope.loadUser = function() {
                    if ($scope.username_input != '') {
                    console.log($scope.username_input);
                        $http.get('https://api.github.com/users/' + $scope.username_input).
                        success(function(userData) {
                            $(".aaaa").addClass('show')
                            $(".aaaa").removeClass('hidden')
                            $scope.avatar = userData.avatar_url;
                            $scope.username = userData.login;
                            $scope.email = userData.email || "n/a";
                            $scope.html_url = userData.html_url;
                            $scope.date = userData.created_at;
                            $scope.publicRepos = userData.public_repos || "0";
                            $scope.following = userData.following || "0";
                            $scope.followers = userData.followers || "0";
                            $('#error_message').text("");
                            $scope.username_input = '';
                        }).error(function(userData) {
                            $(".aaaa").addClass('hidden')
                            $(".aaaa").removeClass('show')
                            $('#error_message').text("Sorry, there\'s no Github user " + $scope.username_input);
                            $scope.username_input = '';
                        }).finally(function(){
                            $scope.username_input = '';
                        });
                    };
                };
            }]);

            function save_profile(){
                console.log("save-profile");
            };
        </script>
	</body>
</html>






<!-- get list of repos for a user:
https://api.github.com/users/technoweenie/repos
 -->

 <!--            // function getProfile(username) {
            //     $.get('https://api.github.com/users/' + username, function(user) {
            //         var newProfile = Mustache.render($('#profile-template').html(), user);
            //         $(".myID").prepend(user.id);
            //         $('.profile-container').prepend(newProfile);
            //     }).error(function() {
            //         alert("There is no user called " + username);
            //     }).always(function() {
            //         // $('#username').val('');
            //     })
            // }

            // function getProfile(username) {
            //     $.get('https://api.github.com/users/' + username, function(user) {
            //             var user_id = user.id;

            //     });
            // };
 -->

 <!--      
      <div class="user-session-control">
        <%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, required: "true" %>
            <%= f.label :password %>
            <%= f.password_field :password, required: "true", autocomplete: "off" %>
            <%= f.check_box :remember_me %> 
            <%= f.label :remember_me %>
            <span class="log-in-button">
            <%= f.submit "Log in", id: "log-in" %>
            </span>
            <span class="sign-up-button">
            <%= link_to "Sign up", new_user_registration_path, class: "sign-up" %>
            </span>
            <span class="log-out-button">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "log-out" %>
          </span>
        <% end %>
    </div> -->



